/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;

  }

  #metodo{
    text-align: center;
  }
  #nn{
    text-align: center;
  }
  #bottoneTest{
    width: 70%;
    position: absolute;
    top:20%;

  }
  #selezione{
    padding-top: 7px;
  }

  #mode{

    padding-right: 7px;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .col-lg-1 {
    width: 6%;
  }
  .col-lg-2 {
    width: 22%;
    border-right:1px solid rgba(0,0,0,.1);
    padding-top: 10px;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
    border-right:1px solid rgba(0,0,0,.1);
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 200px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;

  }

#nn{
  padding-left:20%
}
#metodo{
  margin-right: 30%;
}

 #inputPair{

    padding-top: 15px;

 }
  #bottoneTest{
    position: absolute;
    width: 30%;
    right: 35%;
    top: 20px;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
    border-right: 1px solid rgba(0,0,0,.1)
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    padding-right: 7px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 50%;

    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
    border-top:1px solid rgba(0,0,0,.1)
  }
}



#intestazione{
  height:200px;
  background-color: #eaece5;




}
#intestazione h3{
  padding-top: 50px;

}

#bottoneTest{
  background-color: #eaece5!important;
  color:black!important;
}

#bottoneTest:hover{
    background-color: #6c757de3!important;
    color:white!important;
}


.reti div, .modalita div{
  margin-bottom:5px;
}

.modalita{
  /*position: absolute;*/
  top:5%;
}

.modalita input, .reti input{
  margin-bottom: 5px;
}



.mode{
  width:100%;
}

.rete{
  width:100%;
}
.reti{
  position: absolute;
  top:15%;
}



#file1{
  width:49%;
  float:left;

}

#file2{
  width:49%;
  float:right;

}

.form-group{
  width:200px;
}

input.mode.attiva {
  background-color: #f4f3ef;
}

input.rete.attiva {
  background-color: #f4f3ef;
}

label.img{
  text-align:right; !important
}

.custom-file-input::before {
  content: 'Select some files';
  }


  footer{

    position: absolute;
    right: 20px;
    bottom: 0;

  }
